<div class="primary-backgroud">
    <br>
    <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <form>
                <img src="https://lh3.googleusercontent.com/proxy/Zw2nXO7uVbH8Hg_UOnLicMxbA2oCagKL6KoKj-MSn_Cge2lU7asNyf9yGfLY_1QN1bEy99wcrahMjjWqyoTrrh4D7rWdytQxUhnK5aRpl-mYu82X92AnsqNxrHNo4D_8SiOPcDUDa1BRhWT-IHnkZjVY6oVCkP8Pw2okMWQnppuCiFCDHKA_lcX6h0UUZiZvlsAn1Pi9dcUr9qeW8JI4wGSztA6gDGa-dSVbWg" alt="">
                <div class="mb-3">
                  <label class="form-label">Correo electronico</label>
                  <input type="email" class="form-control" placeholder="Nombre de usuario" name="username" #username="ngModel" [(ngModel)]="ModeloUser.username">
                  <div class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Contraseña</label>
                  <input type="password" class="form-control" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="ModeloUser.password">
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Inciar sesión</button>
              </form>
          </div>
        </div>
    </div>
    <br>
</div>  