<div class="primary-backgroud">
    <br>
    <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <form>
                <img src="https://lh3.googleusercontent.com/proxy/ndmU0V7OV7M1M-0r6Z5b8-tQrMrHL8S8769hMXrwGV_Og5byFGTkrVxH26JHPphyeibysTG-kIko0PFORYGJUuJbZsi2gyf1u6RRy_DrGojCzvzw4w-1PkrGG_J3cLKV7HvLMjSt89akojuX1AP1hb21KzOOjGHsN2atgAz_aFSlmpwOAAbizMFpjkzagL-RGHY0Cb5D4SYTbsDrMKvfEi1Ns2RiXdCRqxG3Pg" alt="">
                <div class="mb-3">
                  <label class="form-label">Correo electronico</label>
                  <input type="email" class="form-control" placeholder="Nombre de usuario" name="username" #username="ngModel" [(ngModel)]="ModeloUser.username">
                  <div class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Contraseña</label>
                  <input type="password" class="form-control" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="ModeloUser.password">
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Inciar sesión</button>
              </form>
          </div>
        </div>
    </div>
    <br>
</div>  