.list-group{
    background-color: white;
    height: 910px;
}

.list-group h1{
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    text-decoration: underline black;
    font-family: 'Lobster', cursive;
}

.imagen{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    width: 100%;
}