<div class="list-group">
    <img src="https://www.infosol.com.mx/assets/img/section-img/about3-img.png" class="imagen">
    <h1>Control De Empresas</h1>
    <br>
    <button type="button" class="list-group-item list-group-item-action">
        Mi pefil
    </button>
    <button type="button" class="list-group-item list-group-item-action"
    routerLink="/empresas" routerLinkActive="active">
        <i class='bx bxs-buildings bx-md' ></i> Empresas
    </button>
    <button type="button" class="list-group-item list-group-item-action"
    routerLink="/empleados" routerLinkActive="active">
        <i class='bx bxs-user-badge bx-md'></i>Empleados
    </button>
    <button type="button" class="list-group-item list-group-item-action"
    routerLink="/productos" routerLinkActive="active">
        <i class='bx bxl-product-hunt bx-md' ></i>Productos
    </button>
    <hr size="8px" color="black" style="margin-top: 122%;" />
    <button (click)="serrarsecion()" type="button" style="border-color: black;" class="list-group-item list-group-item-action">
        <i class='bx bxs-exit bx-md' ></i>Cerrar sesion
    </button>
</div>